.sidebar__deck {
  height: 280px;
  width: 192px;
  background-image: url("../../../assets/card-back.png");
  background-size: contain;
  border-radius: 8px;
  margin-bottom: 10px;
  @media (max-width: 992px) {
    width: 130px;
    margin-bottom: 5px;
    height: 202.5px;
    background-image: url("../../../assets/card-back-992px.png");
    background-size: cover;
  }
}
