.rules {
  padding: 0 40px;
  .rules__button {
    position: absolute;
    bottom: 20px;
  }
  .rules__text {
    font-size: 22.5px;
    text-align: justify;
    overflow: auto;
    .rules__heading {
      text-align: center;
      line-height: 0.5;
    }
  }
}
